@media (max-width: 1080px) {
    body {
        max-width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container img {
        margin-right: 90px;
    }

    .container .introduction {
        text-align: center;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding-bottom: 10px;
        margin-left: 70px;
    }
}

@media (max-width: 790px){
    .footer {
        padding-bottom: 10px;
    }

    .footer i{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 580px) {

    body {
        background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg) top contain no-repeat;
        max-width: 100%;
        max-height: 100vh;
    }

    .header img {
        margin: 25px;
        width: 150px;
    }

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .container img {
        margin-left: 70px;
        width: 90%;
    }

    .container .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-right: 90px;
    }

    .container .introduction .title {
        text-align: center;
        margin-right: 20px;
        font-size: 25px;
    }

    .container .introduction .info {
        font-size: 13px;
        text-align: center;
        margin-right: 15px;
    }

    .container .introduction button {
        width: 250px;
        height: 45px;
        font-size: 15px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px 0 0 20px;
        padding-right: 0;
    }
}